<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Vanpool App</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <script src="<%= static_path(@conn, "/js/moment.min.js") %>"></script>
    <%= if @current_user do %>
    <div class="container" role="main">
      <div class="row header">
        <div class="pull-left">
          <p>
          <img src="<%= @user_avatar %> " alt="avatar"/>
          </p>
        </div>
        <h1 class="text-center Header__ApplicationName"><%= link "Panda Express", to: page_path(@conn, :index) %></h1>
      </div>

      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <%= @inner %>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/jquery.js") %>"></script>
    <script src="<%= static_path(@conn, "/js/vendor.js") %>"></script>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    <script src="<%= static_path(@conn, "/js/myapp.js") %>"></script>
    <script>require("web/static/js/app")</script>
    <script type="text/javascript" charset="utf-8">
      save_local("<%= @user_id %>", "<%= @access_token %>");
    </script>
  <% else %>
    <div class="text-center">
      <h1>Welcome to Vanpool!</h1>
      <h2>Please login with Slack to continue</h2>
      <a class="btn btn-lg btn-default" href="<%= auth_path(@conn, :index) %>">Login with:<img src="<%= static_path(@conn, "/images/slack.png") %>" alt="Slack"/></a>
    </div>
  <% end %>
  </body>
</html>
