<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Vanpool App</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <%= if @current_user do %>
    <div class="container" role="main">
      <div class="header">
        <div class="pull-right">
          <p> 
          <%= link "@" <> @current_user, to: "https://instructure.slack.com/messages/@" <> @current_user %> 
          ( <%= link "logout", to: auth_path(@conn, :logout) %> )
          </p>
        </div>
        <h1><%= link "Vanpool Cordinator", to: page_path(@conn, :index) %></h1>
      </div>

      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <%= @inner %>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    
    <script>require("web/static/js/app")</script>
    
  <% else %>
    <div class="text-center">
      <h1>Welcome to Vanpool!</h1>
      <h2>Please login with Slack to continue</h2>
      <a class="btn btn-lg btn-default" href="<%= auth_path(@conn, :index) %>" target="_blank">Login with:<img src="<%= static_path(@conn, "/images/slack.png") %>" alt="Slack"/></a>
    </div>
  <% end %>
  </body>
</html>
