<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <title>Caravan</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <div id="sticky-bottom-bar">
      <span class="StickyBar__Label">Do you have keys?</span>
      <button class="btn btn-link" onclick="check_in_key(true)">YES</button> |
      <button class="btn btn-link" onclick="check_in_key(false)">NO</button>
    </div>

    <script src="<%= static_path(@conn, "/js/moment.min.js") %>"></script>
    <%#= if @current_user != nil and @user_id != nil and @token != nil do %>
    <div class="container" role="main">
      <div class="row header">
        <img src="<%= @user_avatar %> " alt="avatar" class="pull-right"/>
        <h1 class="Header__ApplicationName">
          <a href="<%= page_path(@conn, :index) %>">
            CARAVAN <span class="badge">Alpha</span>
          </a>
        </h1>
      </div>

      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <%= @inner %>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/jquery.js") %>"></script>
    <script src="<%= static_path(@conn, "/js/vendor.js") %>"></script>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    <script src="<%= static_path(@conn, "/js/myapp.js") %>"></script>
    <script>require("web/static/js/app")</script>
    <script type="text/javascript" charset="utf-8">
      // save_local("<%= @user_id %>", "<%= @access_token %>");
    </script>
  </body>
</html>
