<h2>Show van</h2>

<ul>

  <li>
    <strong>Number:</strong>
    <%= @van.number %>
  </li>

  <li>
    <strong>Capacity:</strong>
    <%= @van.capacity %>
  </li>

  <li>
    <strong>Come time:</strong>
    <%= @van.come_time %>
  </li>

  <li>
    <strong>Go time:</strong>
    <%= @van.go_time %>
  </li>

  <li>
    <strong>Description:</strong>
    <%= @van.description %>
  </li>

</ul>

<%= link "Back", to: van_path(@conn, :index) %>
